/* Begining Of the Header section */

body{
    width: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;

}

.header{
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
}
a{
    display: inline;
    margin-left: 10px;
    margin-right: 20px;
    text-decoration: none;
}
a img{
    margin-top: 15px;
}

a h4{
    color: rgb(68, 68, 68);
    font-weight: normal;
}

a h4:hover{
    text-decoration: underline;

}
.profil{
    border-radius: 50%;
}

.googleApp{
    color: black;
}

.googleApp:hover{
    color: dimgray;
}



/* Begining of the the Body Section*/

.corps{
    margin: auto;
    padding-top: 250px;

}
.paragraphe{
    padding-left: 35%;
    padding-top: 50px;
}
.logoGoogle{
    text-align: center;
    margin: auto;
    height: 40%;
    width: 50%;
    margin-left: 30%;
}

.buttons{
    height: 30px;
    width: 100%;
}

.buttons{
    text-align: center;
}

.inputField{
    display: flex;
    margin-bottom:40px;
    width: 100%;
    height: 100px;
    position: relative;
}

.inputField img{
    position: absolute;
    right: 30px;
    margin-top: 30px;
    z-index: 2;
}
.buttons button{
    margin-left: 15px;
    height: 40px;
    width: 200px;

}
.inputFile{
    position: relative;
    border-radius: 20px 20px 20px 20px;
    width: 600px;
    margin-top: 20px;
    height: 40px;
    z-index: 1;
    text-align: center;
}

.inputFile:hover{
    
    box-shadow: rgb(224, 222, 222) 5px 4px 4px;
}



.buttons button:hover{
    box-shadow: rgb(224, 222, 222) 5px 4px 4px;
}


/* Class Footer */

footer{
    position: fixed;
    bottom: 0;
    display: flex;
    background-color: #f2f2f2;
    width: 100%;
}

footer section{
    display: inline;
}

footer ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


footer ul{
    list-style-type: none;
}

footer ul a {
    color: #5f6368;
}

footer ul li {
    font-size: 0.8em;
}
footer ul a:hover{
    text-decoration: underline;
}

.seccondList{
    margin-top: 50px;
    position: absolute;
    top: 0;
    right: 0;
}


@media all and (max-width:1024px)
{

    .logoGoogle{
        text-align: center;
        margin: auto;
        height: 40%;
        width: 50%;
        margin-left: 20%;
    }

    .inputFile{
        position: relative;
        border-radius: 20px 20px 20px 20px;
        width: 400px;
        margin-top: 20px;
        height: 40px;
        z-index: 1;
        text-align: center;
    }

    .inputField{
        margin-bottom:40px;
        width: 90%;
        height: 100px;
        position: relative;
    }
    
    .inputField img{
        position: absolute;
        right: 70px;
        margin-top: 30px;
        z-index: 2;
    }
    .buttons button{
        margin-left: 15px;
        height: 40px;
        width: 150px;
    
    }

    .buttons{
        position: relative;
        right: 48px;
        text-align: center;
    }

    footer ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    @media all and (max-width:595px){

        body{
            width: auto;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            flex-wrap: wrap;
        
        }
        .logoGoogle{
            text-align: center;
            height: 40%;
            width: 40%;
            margin-right: 25%;
        }
    
        .inputFile{
            position: relative;
            border-radius: 20px 20px 20px 20px;
            width: 300px;
            margin-top: 20px;
            height: 40px;
            z-index: 1;
            text-align: center;
        }
    
        .inputField{
            display: flex;
            margin-bottom:40px;
            width: 80%;
            height: 100px;
            position: relative;
        }
        
        .inputField img{
            position: relative;
            right: -1500%;
            margin-top: 30px;
            z-index: 2;
        }
        .buttons button{
            margin-left: 15px;
            height: 40px;
            width: 100px;
        
        }
    
        .buttons{
            position: relative;
            text-align: center;
        }
    }

    @media all and (max-width:430px) {
        body{
            display: flex;
            flex-direction: row;
        
        }
        .logoGoogle{
            text-align: center;
            margin: auto;
            height: 40%;
            width: 40%;
            margin-left: 25%;
        }
    
        .inputFile{
            margin: auto;
            position: absolute;
            border-radius: 20px 20px 20px 20px;
            width: 200px;
            margin-top: 20px;
            height: 40px;
            z-index: 1;
            text-align: center;
        }
    
        .inputField{
            margin: auto;
            display: flex;
            margin-bottom:40px;
            width: 70%;
            height: 100px;
            position: relative;
        }
        
        .inputField img{
            margin: auto;
            position: relative;
            left: 800%;
            margin-top: 30px;
            z-index: 2;
        }
        .buttons button{
            margin-left: 15px;
            height: 40px;
            width: 100px;
        
        }
    
        .buttons{
            position: relative;
            right: 5%;
            text-align: center;
        }
    }
}